.container1 {
    height: 700px;
    position: absolute;
    right: 30px;
    top:0;
  }


.images {
    overflow: hidden;
    height: '100%';
   
    align-content: center;
    align-items: center;
    white-space: nowrap;
  }


  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    10% {
      transform: translate3d(0, -10%, 0);
    }
    20% {
      transform: translate3d(0, -20%, 0);
    }
    30% {
      transform: translate3d(0, -30%, 0);
    }
    40% {
      transform: translate3d(0, -40%, 0);
    }
    50% {
      transform: translate3d(0, -50%, 0);
    }
    60% {
      transform: translate3d(0, -60%, 0);
    }
    70% {
      transform: translate3d(0, -70%, 0);
    }
    80% {
      transform: translate3d(0, -80%, 0);
    }
    90% {
      transform: translate3d(0, -90%, 0);
    }
    100% {
      transform: translate3d(0, -100%, 0);
    }
  }
  .img-slide {
    display: block;
    animation: 60s slide infinite linear;
    /* transition: animation-play-state 2s ease; */
  }
  
  .img-slide1  {
    display: block;
    animation: 90s slide infinite linear ;
  }

  img{
    padding: 8px
  }

  .pad{
    margin-top: -120px;
    margin-bottom: 120px;
  }